@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

.App {
  text-align: center;
  background-color: #1a1a1a; /* Dark background color */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.card {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px;
  text-align: left;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card h2 {
  font-size: 1em;
  margin-bottom: 20px;
}

.card ul {
  list-style-type: none;
  padding: 0;
}

.card li {
  background: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.card li:hover {
  background: #e0e0e0;
}

.card li.selected {
  background: #d0d0d0; /* Change this to the desired highlight color */
}

.card button {
  background: #61dafb;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.card button:hover {
  background: #21a1f1;
}

.feedback {
  font-size: 1.7em;
  margin-top: 20px;
}

.toggle-charts-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.toggle-charts-button:hover {
  background-color: #0056b3;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  min-width: 350px;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 20px;
}

.app-title-link {
  text-decoration: none; /* Remove underline from link */
}

.app-title {
  font-family: 'Noto Serif JP', serif; /* Traditional Japanese font */
  font-size: 4rem;
  font-weight: 400;
  color: #d4af37; /* Softer gold color for a more subtle illumination */
  text-shadow: 0 0 3px #d4af37, 0 0 6px #b8860b, 0 0 9px #8b4513; /* Softer glowing effect */
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  padding: 10px 20px;
  border: 2px solid #d4af37; /* Border to mimic sign frame */
  border-radius: 5px;
  display: inline-block;
  animation: flicker 1.5s infinite alternate;
}

.app-subtitle {
  font-family: 'Noto Sans JP', sans-serif; /* Traditional Japanese font */
  font-size: 1.2rem;
  color: #d4af37; /* Softer gold color for a more subtle illumination */
  text-shadow: 0 0 3px #d4af37, 0 0 6px #b8860b, 0 0 9px #8b4513; /* Softer glowing effect */
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  padding: 5px 15px;
  border: 2px solid #d4af37; /* Border to mimic sign frame */
  border-radius: 5px;
  display: inline-block;
  animation: flicker 1.5s infinite alternate;
}

.lantern-container {
  background-color: #1a1a1a;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .app-title {
    margin-top: 80px; /* Ensure at least 80px from the top */
    margin-bottom: 10px; /* Reduce space between title and subtitle */
  }

  .app-subtitle {
    margin-bottom: 20px; /* Adjust as needed */
  }
}

@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0.8; }
  100% { opacity: 1; }
}


